.container{
    display: flex;
    background-color: rgb(42, 42, 117);
    width: 100%;
    height: 50px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    margin-left: 1100px;
    display: flex;
    margin-top: 20px;
    height: 30px;
}

.feed button{
    width: 100px;
    border-radius: 10px;
    height: 30px;
    background-color: azure;
    color: black;
}
.feed{ 
    margin-right: 20px;
    margin-top: -5px;
}
.tic button{
    width: 100px;
    border-radius:10px ;
    height: 30px;
    background-color: azure;
    color: black;
}
.tic{
    margin-top:-5px ;
}
#logo{
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-top: -40;

    
}
#logo h2{
    margin-bottom: 60px;
    text-align: center;
    margin-left: 80px;
    padding-bottom: 20px;
    margin-top:-50px ;
}
.head h1{
    margin-bottom: 50px;
}
.small-container{
    display: flex;
    height: 90px;
    color: beige;

    
}
.small-container h1{
     margin-left: 40px; 
    /* width: 300px; */
    /* color: white; */
     margin-bottom: 90px; 
    /* font-family: cursive; */

}
.navbar ul{
    /* border:2px solid black; */
    list-style-type: none;
    /* display:inline-block; */
    /* margin-top: 7px;
    font-size: 22px; */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* padding-left: 10px; */
    font-style: italic;
    /* color:white; */
    /* margin-left: 20px; */
    /* padding: 10px; */
    
}
.navbar li{
    display: inline-block;
}
.navbar li a{
    display: block;
    padding: 10px;
    margin-top: 28px;
    color: beige;

}

.navbar ul{
    float: right;
    margin-left: 600px;
    color: white;
}
.h1{
    /* color: yellow */
    margin-left: 50px;
    
}
.div1{
   
    color:white;
}
.div9{
    
   
    /* color:white; */
    /* padding: ; */
}
body{
    /* background-color: rgb(31, 31, 90); */
}
#banner{
    background-image: url(image/Chromis-Bonaire-1200x800.jpg);
    height:600px;
    background-position: center;
    background-size:cover ;
    background-repeat: no-repeat;
}
#banner h1{
    color:whitesmoke;
    text-align: left;
    margin-left: 80px;
    padding-top:150px;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-ser;
}
#banner p{
    color: whitesmoke;
    text-align: left;
    margin-left: 80px;
    padding-top: 10px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn2 {
    width: 200px;
    height: 50px;
    margin-left: 100px;
    padding-top: 5px;
    margin-top: 10px;
    background-color: brown;
    color: beige;
}
.banner2{
    background-image: url(image/photo-1574492543172-b37ab0de758c.jfif);
    height: 2000px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* .bat{
    /* border:2px solid black; */
    /* margin-top: 50px;
    border-bottom: 2px solid white; */ 
.bat h1{
    color:white;
    
}
.bat h3{
    font-size: 20px;
    text-align: center;
    color: white;
}
.con{
    /* border:2px solid black; */
    margin-top: 250px;
}
.ani{
    /* border:3px solid black; */
    width: 400px;
    height: 650px;
    display:inline-block;
    overflow: auto;
    margin-left: 30px;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
   

}
.ani img{
    width:300px;
    height: 300px;
    margin-left: 50px;
    
}
.ani h2{
text-align: center;
font-size: 30px;
color: white;
}
.ani p{
text-align: center;
font-size: 15px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: white;
}
footer{
    background-color:lightgrey; 
    height: 450px;
    margin-top: 100px;
    
}

.box6{
    margin-top: 100px;
    display: flex;
    color: black;
    margin-bottom: 10px;
    width: 100%;
    margin-left: 100px;
    margin-top: 20px;
    
}
.box6 h2{
    color: black;
}
.box7{
    margin-right: 200px;
    font-size: 20px;
    width: 500px;
    margin-top: 50px;
    color: saddlebrown;
    
    
}
.box8{
    margin-right: 200px;
    width: 500px;
    font-size: 20px;
    margin-top: 50px;
    color: saddlebrown;
    
    
}
.box9{
    margin-right: 200px;
    width: 500px;
    font-size: 20px;
    margin-top: 50px;
    color: saddlebrown;
}
.fa-instagram{
    font-size: 30px;
    margin-left: 10px;
    margin-top: 30px;
    color: palevioletred;
}
.fa-facebook-square{
    font-size: 30px;
    margin-left: 10px;
    margin-top: 30px;
    color: blue;
}
.fa-twitter{
    font-size: 30px;
    margin-left: 10px;
    margin-top: 30px;
    color: blue;
}
.fa-youtube-play{
    font-size: 30px;
    margin-left: 10px;
    margin-top: 30px;
    color: red;
}
.box10{
    margin-left: 400px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.email{
    width: 300px;
    height: 50px;
}
.btn{
    width: 100px;
    height: 50px;
    margin-left: 5px;
    border-radius:50px ;
    color: white;
    background-color: blue;
}
@media screen and (max-width:1000px) {
    .container{
        display: flex;
        background-color: rgb(42, 42, 117);
        width: 100%;
        height: 50px;
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .box{
        margin-left: 1100px;
        display: flex;
        margin-top: 20px;
        height: 30px;
    }
    
    .feed button{
        width: 100px;
        border-radius: 10px;
        height: 30px;
        background-color: azure;
        color: black;
    }
    .feed{ 
        margin-right: 20px;
        margin-top: -5px;
    }
    .tic button{
        width: 100px;
        border-radius:10px ;
        height: 30px;
        background-color: azure;
        color: black;
    }
    .tic{
        margin-top:-5px ;
    }
    #logo{
        display: inline-block;
        margin-bottom: 30px;
        margin-left: 10px;
        margin-top: -40;
    
        
    }
    #logo h2{
        margin-bottom: 60px;
        text-align: center;
        margin-left: 80px;
        padding-bottom: 20px;
        margin-top:-50px ;
    }
    .head h1{
        margin-bottom: 50px;
    }
    .small-container{
        display: flex;
        height: 90px;
        color: beige;
    
        
    }
    .small-container h1{
         margin-left: 40px; 
        
         margin-bottom: 90px; 
        
    
    }
    .navbar ul{
        
        list-style-type: none;
        
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
        font-style: italic;
        
        
    }
    .navbar li{
        display: inline-block;
    }
    .navbar li a{
        display: block;
        padding: 10px;
        margin-top: 28px;
        color: beige;
    
    }
    
    .navbar ul{
        float: right;
        margin-left: 600px;
        color: white;
    }
    .h1{
       
        margin-left: 50px;
        
    }
    .div1{
       
        color:white;
    }
    
    body{
    
    }
    .banner{
        background-image: url(image/Chromis-Bonaire-1200x800.jpg);
        height:600px;
        background-position: center;
        background-size:cover ;
        background-repeat: no-repeat;
    }
    .banner2{
        background-image: url(image/photo-1574492543172-b37ab0de758c.jfif);
        height: 2000px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
     
    .bat h1{
        color:white;
        
    }
    .bat h3{
        font-size: 20px;
        text-align: center;
        color: white;
    }
    .con{
        
        margin-top: 250px;
    }
    .ani{
        
        width: 400px;
        height: 650px;
        display:inline-block;
        overflow: auto;
        margin-left: 30px;
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
       
    
    }
    .ani img{
        width:300px;
        height: 300px;
        margin-left: 50px;
        
    }
    .ani h2{
    text-align: center;
    font-size: 30px;
    color: white;
    }
    .ani p{
    text-align: center;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    }
    footer{
        background-color:lightgrey; 
        height: 450px;
        
    }
    
    .box6{
        margin-top: 100px;
        display: flex;
        color: black;
        margin-bottom: 10px;
        width: 100%;
        margin-left: 100px;
        margin-top: 20px;
        
    }
    .box6 h2{
        color: black;
    }
    .box7{
        margin-right: 200px;
        font-size: 20px;
        width: 500px;
        margin-top: 50px;
        color: saddlebrown;
        
        
    }
    .box8{
        margin-right: 200px;
        width: 500px;
        font-size: 20px;
        margin-top: 50px;
        color: saddlebrown;
        
        
    }
    .box9{
        margin-right: 200px;
        width: 500px;
        font-size: 20px;
        margin-top: 50px;
        color: saddlebrown;
    }
    .fa-instagram{
        font-size: 30px;
        margin-left: 10px;
        margin-top: 30px;
        color: palevioletred;
    }
    .fa-facebook-square{
        font-size: 30px;
        margin-left: 10px;
        margin-top: 30px;
        color: blue;
    }
    .fa-twitter{
        font-size: 30px;
        margin-left: 10px;
        margin-top: 30px;
        color: blue;
    }
    .fa-youtube-play{
        font-size: 30px;
        margin-left: 10px;
        margin-top: 30px;
        color: red;
    }
    .box10{
        margin-left: 400px;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .email{
        width: 300px;
        height: 50px;
    }
    .btn{
        width: 100px;
        height: 50px;
        margin-left: 5px;
        border-radius:50px ;
        color: white;
        background-color: blue;
    }
    }
